<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-20 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6>
  </nav>
</footer>

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
<<<<<<< HEAD
=======
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
>>>>>>> 541e205932f39f64c4261dce5bba8dab26c0a162
    <script src="/Scripts/app.js"></script>
  </body>
</html>